body{
    background-color:  #E5E5E5;

}

.header{

    border-top: 40px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color:#75B79E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;

}
.container{
    background-color: yellow;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.card:hover .back-face {
    transform: rotateY(0deg);
}

.card:hover .front-face {
    transform: rotateY(-180deg);
} 